#################################################################
#############----------BigTreeTech Eddy-------------#############
#################################################################

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474E621A8575FA-if00
restart_method: command

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	10,10
	10,305
	345,305
	345,10
speed: 400                   
horizontal_move_z: 10      #Origina setting - horizontal_move_z: 10    
retry_tolerance: 0.008      #Origina setting - retry_tolerance: 0.05
retries: 10                  
max_adjust: 10              #Origina setting - max_adjust: 30    

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
#i2c_address:
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
# Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
x_offset: 0.0          
y_offset: 40.0            
#x_offset: -16.1          #skipped 15.1 15.2 unknown 14.7
#y_offset: 9.6            #9.6 is getting close
#data_rate: 500

# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
#min_temp: 0
#max_temp: 80
#   Temperature sensor configuration.
#   See the "extruder" section for the definition of the above
#   parameters.
#smooth_time:
#   A time value (in seconds) over which temperature measurements will
#   be smoothed to reduce the impact of measurement noise. The default
#   is 2.0 seconds.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.
#speed:
#   The travel speed [mm/s] for xy moves during calibration.  Default
#   is the speed defined by the probe.
horizontal_move_z: 2.5
#   The z distance [mm] from the bed at which xy moves will occur
#   during calibration. Default is 2mm.
resting_z: 2
#   The z distance [mm] from the bed at which the tool will rest
#   to heat the probe coil during calibration.  Default is .4mm
#calibration_position:
#   The X, Y, Z position where the tool should be moved when
#   probe drift calibration initializes.  This is the location
#   where the first manual probe will occur.  If omitted, the
#   default behavior is not to move the tool prior to the first
#   manual probe.
calibration_bed_temp: 80
#   The maximum safe bed temperature (in C) used to heat the probe
#   during probe drift calibration.  When set, the calibration
#   procedure will turn on the bed after the first sample is
#   taken.  When the calibration procedure is complete the bed
#   temperature will be set to zero.  When omitted the default
#   behavior is not to set the bed temperature.
calibration_extruder_temp: 150
#   The extruder temperature (in C) set probe during drift calibration.
#   When this option is supplied the procedure will wait for until the
#   specified temperature is reached before requesting the first manual
#   probe.  When the calibration procedure is complete the extruder
#   temperature will be set to 0.  When omitted the default behavior is
#   not to set the extruder temperature.
extruder_heating_z: 10.
#   The Z location where extruder heating will occur if the
#   "calibration_extruder_temp" option is set.  Its recommended to heat
#   the extruder some distance from the bed to minimize its impact on
#   the probe coil temperature.  The default is 50.
#max_validation_temp: 100.
#   The maximum temperature used to validate the calibration.  It is
#   recommended to set this to a value between 100 and 120 for enclosed
#   printers.  The default is 60.

[bed_mesh]
horizontal_move_z: 2.5
speed: 200
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
mesh_min: 20, 40  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 345, 335 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 10, 10
algorithm: bicubic
scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.
adaptive_margin: 5

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[safe_z_home]
home_xy_position: 177.5, 177.5 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
z_hop: 5
z_hop_speed: 5
speed: 200

###############################Macros and related################################
#This secton contains macros and related config sections. Some should be used, others are optional. Read the comment above each one to find out whether or not to uncomment it for your installation.


# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
#[save_variables]
#filename: ~/printer_data/config/variables.cfg

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

# Uncomment this if you are using Eddy as the probe AND the homing endstop
#[force_move]
#enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.

# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
[delayed_gcode RESTORE_PROBE_OFFSET]
initial_duration: 1.
gcode:
  {% set svv = printer.save_variables.variables %}
  {% if not printer["gcode_macro SET_GCODE_OFFSET"].restored %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ svv.nvm_offset|default(0) }
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=restored VALUE=True
  {% endif %}

# Uncomment this if you are using Eddy as the probe AND the homing endstop
# Take note of the lines that should only be used if you have a KNOMI installed.
[gcode_macro G28]
rename_existing: G28.1
gcode:
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True # Uncomment this if using a KNOMI and then remove the G28 macro from the KNOMI.cfg
  G28.1 {rawparams}
  {% if not rawparams or (rawparams and 'Z' in rawparams) %}
    PROBE
    SET_Z_FROM_PROBE
  {% endif %}
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False # Uncomment this if using a KNOMI and then remove the G28 macro from the KNOMI.cfg

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[gcode_macro SET_Z_FROM_PROBE]
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
    G90
    G1 Z{cf.safe_z_home.z_hop}

# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
[gcode_macro Z_OFFSET_APPLY_PROBE]
rename_existing: Z_OFFSET_APPLY_PROBE_ORIG
gcode:
  SAVE_VARIABLE VARIABLE=nvm_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset }

# Uncomment the lines in this macro if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
[gcode_macro SET_GCODE_OFFSET]
rename_existing: SET_GCODE_OFFSET_ORIG
variable_restored: False  # Mark whether the var has been restored from NVM
variable_runtime_offset: 0
gcode:
  {% if params.Z_ADJUST %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
  {% endif %}
  {% if params.Z %} 
    {% set paramList = rawparams.split() %}
    {% for i in range(paramList|length) %}
      {% if paramList[i]=="Z=0" %}
        {% set temp=paramList.pop(i) %}
        {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
        {% if paramList.append(temp) %}{% endif %}
      {% endif %}
    {% endfor %}
    {% set rawparams=paramList|join(' ') %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
  {% endif %}
  SET_GCODE_OFFSET_ORIG { rawparams }

# This macro automates a lot of the frequency mapping process and simplifies the steps significantly.
[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G90 # Abs positioning
  G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
#[gcode_macro BED_MESH_CALIBRATE]
#rename_existing: BTT_BED_MESH_CALIBRATE
#gcode:
#  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg
#  BTT_BED_MESH_CALIBRATE SCAN_MODE=rapid METHOD=scan
#  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False #Only uncomment this line if using a KNOMI and then remove the BED_MESH_CALIBRATE macro from KNOMI.cfg


#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 16
#*# calibrate =
#*# 	0.050625:3294162.510,0.090000:3293153.370,0.129375:3292191.856,
#*# 	0.170625:3291151.546,0.210000:3290233.962,0.249375:3289231.047,
#*# 	0.290625:3288225.321,0.330000:3287243.811,0.369375:3286296.552,
#*# 	0.410625:3285336.141,0.450000:3284402.221,0.489375:3283407.707,
#*# 	0.530625:3282469.878,0.570000:3281572.925,0.609375:3280663.751,
#*# 	0.650625:3279713.409,0.690000:3278810.139,0.729375:3277891.819,
#*# 	0.770625:3276966.661,0.810000:3276078.096,0.849375:3275224.011,
#*# 	0.890625:3274329.647,0.930000:3273470.748,0.969375:3272621.698,
#*# 	1.010625:3271779.930,1.050000:3270951.882,1.089375:3270134.935,
#*# 	1.130625:3269302.443,1.170000:3268516.459,1.209375:3267745.519,
#*# 	1.250625:3266960.856,1.290000:3266210.373,1.329375:3265431.681,
#*# 	1.370625:3264686.778,1.410000:3263940.167,1.449375:3263204.565,
#*# 	1.490625:3262523.688,1.530000:3261843.647,1.569375:3261141.595,
#*# 	1.610625:3260440.128,1.650000:3259799.674,1.689375:3259152.312,
#*# 	1.730625:3258501.536,1.770000:3257879.067,1.809375:3257237.325,
#*# 	1.850625:3256628.517,1.890000:3255997.369,1.929375:3255417.101,
#*# 	1.970625:3254817.177,2.010000:3254258.802,2.049375:3253688.341,
#*# 	2.090625:3253124.133,2.130000:3252558.198,2.169375:3252021.478,
#*# 	2.210625:3251503.696,2.250000:3250965.786,2.289375:3250480.113,
#*# 	2.330625:3249960.910,2.370000:3249492.862,2.409375:3248974.028,
#*# 	2.450625:3248502.955,2.490000:3248023.378,2.529375:3247541.368,
#*# 	2.570625:3247098.016,2.610000:3246641.602,2.649375:3246197.162,
#*# 	2.690625:3245782.331,2.730000:3245358.359,2.769375:3244931.277,
#*# 	2.810625:3244508.395,2.850000:3244127.362,2.889375:3243726.141,
#*# 	2.930625:3243317.779,2.970000:3242955.360,3.009375:3242586.252,
#*# 	3.050625:3242208.681,3.090000:3241857.603,3.129375:3241508.223,
#*# 	3.170625:3241149.450,3.210000:3240815.057,3.249375:3240453.833,
#*# 	3.290625:3240128.032,3.330000:3239803.478,3.369375:3239480.812,
#*# 	3.410625:3239172.178,3.450000:3238867.940,3.489375:3238559.734,
#*# 	3.530625:3238262.923,3.570000:3237941.140,3.609375:3237659.793,
#*# 	3.650625:3237370.720,3.690000:3237096.947,3.729375:3236814.201,
#*# 	3.770625:3236554.595,3.810000:3236287.713,3.849375:3236028.307,
#*# 	3.890625:3235745.949,3.930000:3235517.421,3.969375:3235251.911,
#*# 	4.010625:3234995.968,4.050000:3234761.646
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 29.499732
#*# drift_calibration =
#*# 	3304407.858698, -497.689699, 3.015320
#*# 	3289166.641660, -344.857023, 1.819467
#*# 	3274701.692604, -185.547102, 0.699804
#*# 	3263256.524278, -86.847533, 0.089007
#*# 	3254405.368218, -33.071406, -0.170607
#*# 	3247342.892588, 4.650089, -0.349084
#*# 	3241667.912632, 34.161211, -0.495471
#*# 	3237109.771248, 58.302103, -0.634972
#*# 	3233253.654746, 86.026789, -0.851375
#*# drift_calibration_min_temp = 31.390424854535354
