[dzos]
bed_xy: 191,165
pressure_xy: 289,361
z_hop: 7.5
speed_z_hop: 10
speed: 300


[gcode_macro _DZOS_COUNTDOWN]
gcode:
    {% set time = params.TIME|default(0)|int %}
    {% set name = params.NAME|default("Wait")|string %}
    {% for index in range(time) %}
        M117 DZOS: {name}-{time-index}s
        G4 P1000
    {% endfor %}


[gcode_macro _DZOS_INTERACTION_BEEP]
gcode:
  _DZOS_BEEP_LOOP
  _DZOS_BEEP_LOOP
  _DZOS_BEEP_LOOP


[gcode_macro _DZOS_BEEP_LOOP]
gcode:
    SET_PIN PIN=beeper VALUE=1
    G4 P300
    SET_PIN PIN=beeper VALUE=0
    G4 P50
    SET_PIN PIN=beeper VALUE=1
    G4 P150
    SET_PIN PIN=beeper VALUE=0
    G4 P50
    SET_PIN PIN=beeper VALUE=1
    G4 P300
    SET_PIN PIN=beeper VALUE=0
    G4 P50
    SET_PIN PIN=beeper VALUE=1
    G4 P400
    SET_PIN PIN=beeper VALUE=0
    G4 P1000

[gcode_macro DZOS_SOAK_TIME]
variable_heat_soak_time: 15
gcode:
    {% set INPUT_TIME = params.TIME|default(15)|int %}
    SET_GCODE_VARIABLE MACRO=DZOS_SOAK_TIME VARIABLE=heat_soak_time VALUE={INPUT_TIME}
    M117 DZOS: Soak {INPUT_TIME}s..
    {action_respond_info("DZOS: Soak Time Set..")}


[gcode_macro _DZOS_PRINT]
gcode:
    M117 DZOS: Print..
    {% set INPUT_TEMP = params.TEMP|default(65)|int %}
    {% set INPUT_SOAK_TIME = printer['gcode_macro DZOS_SOAK_TIME'].heat_soak_time|int %}
    DZOS_Z_OFFSET TEMP={INPUT_TEMP} SOAK_TIME={INPUT_SOAK_TIME}
    

[gcode_macro _DZOS_CACHE_STATIC]
gcode:
    M117 DZOS: Cache..
    G28
    QUAD_GANTRY_LEVEL_BASE
    DZOS_Z_OFFSET CACHE_STATIC=1


[gcode_macro DZOS_INIT_SETUP]
gcode:
    M117 DZOS: Setup..
    _DZOS_CACHE_STATIC
    G28
    QUAD_GANTRY_LEVEL_BASE     
    M23 /dzos_test_combined.gcode
    M24


[gcode_macro DZOS_ENABLE]
gcode:
    DZOS_Z_OFFSET ENABLE=1


[gcode_macro DZOS_DISABLE]
gcode:
    DZOS_Z_OFFSET ENABLE=0  


######################################################################################################################################################################################################
# REPLACEMENT MACRO (SIMPLE WITH DZOS CALL ADDED)
######################################################################################################################################################################################################


[gcode_macro START_PRINT]
gcode:
    {% set INPUT_TEMP = params.TEMP|default(65)|int %}
    M400
    CLEAR_PAUSE
    G28
    QUAD_GANTRY_LEVEL_BASE
    _DZOS_PRINT TEMP={INPUT_TEMP}
    BED_MESH_CALIBRATE_BASE ADAPTIVE=1
    M117 Printing..  