[include fluidd.cfg]

[include macros.cfg]

[include KAMP_Settings.cfg]

[include filament.cfg]

[include shell_command.cfg]

[include timelapse.cfg]

[exclude_object]

[force_move]
enable_force_move: true 

[gcode_arcs]                       
resolution: 1.0    

#[include moonraker_obico_macros.cfg]

#[include options/probe/stock.cfg]

#[include options/lcd/*.cfg]

[include options/probe/eddy-ng.cfg]

[include options/pico.cfg]

[include options/leds.cfg]

[include options/expander.cfg]

[include options/lcd/menu.cfg]

[include options/lcd/lcd.cfg]

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD505334E563619741751-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_52FF71064885875208231467-if00
restart_method: command      

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

#####################################################################
#--------------------------X AXIS-----------------------------------#
#####################################################################

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

#####################################################################
#--------------------------Y AXIS-----------------------------------#
#####################################################################

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 71 #70
diag_pin: PE13 

#####################################################################
#--------------------------Z AXIS-----------------------------------#
#####################################################################

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: True             
run_current: 0.50           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

#####################################################################

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: True             
run_current:  0.50          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

#####################################################################

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: True             
run_current: 0.50            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

#####################################################################

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: True            
run_current: 0.50         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

#####################################################################
#--------------------------EXTRUDER---------------------------------#
#####################################################################

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e
#sensor_type: Generic 3950
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.04
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150    

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

#####################################################################
#--------------------------BED--------------------------------------#
#####################################################################

#[thermistor my_thermistor]
#temperature1:25
#resistance1:100000
#temperature2:50
#resistance2:18085.4
#temperature3:100
#resistance3:5362.6

[heater_bed]
heater_pin:PA0
#sensor_type: my_thermistor  
sensor_type: Generic 3950
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

#[verify_heater heater_bed]      
#max_error: 120                
#check_gain_time:40           
#hysteresis: 5                
#heating_gain: 2      

#####################################################################
#--------------------------FANS AND TEMPS----------------------------
#####################################################################

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

#[temperature_sensor Host_temp]     
#sensor_type: temperature_host
#min_temp: 0
#max_temp: 110

#[temperature_sensor Toolhead_Temp]
#sensor_type: temperature_mcu
#sensor_mcu: extra_mcu
#min_temp:0
#max_temp:100

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[temperature_fan toolhead_fan]
pin: extra_mcu:PB0 
max_power: 1.0
shutdown_speed: 1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_mcu
sensor_mcu: extra_mcu
control: watermark
max_delta: 3.0
min_temp: 0
max_temp: 100
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.

[temperature_fan Host_fan]
pin: PA1     
sensor_type: temperature_host
min_temp: 0
max_temp: 110
kick_start_time: 0.5
shutdown_speed: 1.0
control: watermark
max_delta: 3.0

#####################################################################
#--------------------------MCU PINS AND EXP-------------------------#
#####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,
 
    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>         

[output_pin main_led]
pin:PA3
pwm: 1
value:1
cycle_time: 0.010

[adxl345]
cs_pin:extra_mcu:PB12
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
#accel_per_hz:50
min_freq:1
#max_freq:100
#max_smoothing:0.2
#hz_per_sec:0.5

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 58.2
shaper_type_y = mzv
shaper_freq_y = 42.0

[firmware_retraction]
retract_length: 0.6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 60
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.094
#*# pid_ki = 1.684
#*# pid_kd = 501.065
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.558
#*# pid_ki = 3.704
#*# pid_kd = 44.088
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.005283, 0.012464, 0.017233, 0.004191, -0.016024, -0.016024, -0.013781, 0.009273, 0.017310, -0.026772
#*# 	-0.005284, 0.007708, 0.017233, -0.025207, -0.032147, -0.032147, -0.008410, -0.009092, 0.007708, -0.029016
#*# 	0.028546, 0.024982, 0.032646, 0.013938, -0.019833, -0.018268, -0.007527, 0.007708, 0.029187, -0.010654
#*# 	0.016564, 0.032646, 0.014834, -0.010657, -0.010657, -0.012219, 0.006143, 0.029187, 0.041060, 0.046999
#*# 	0.030917, 0.039327, 0.027457, 0.012464, 0.004578, 0.007708, 0.027457, 0.083211, 0.068729, 0.051204
#*# 	0.046253, 0.030917, 0.007708, 0.015668, -0.003040, 0.003900, 0.037597, 0.061613, 0.063078, 0.054671
#*# 	0.040315, 0.070922, 0.034376, 0.034376, 0.038585, 0.017310, 0.032646, 0.077907, 0.097492, 0.051204
#*# 	0.016673, 0.034376, 0.010839, 0.007708, 0.023518, 0.010839, 0.027457, 0.046999, 0.095511, 0.044524
#*# 	-0.001475, 0.010839, -0.003040, -0.007527, -0.004605, -0.007527, 0.000091, 0.029187, 0.054671, -0.003040
#*# 	0.000091, -0.047833, -0.063980, -0.022964, -0.030807, -0.028456, -0.010657, -0.030581, -0.013781, 0.001716
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 344.99
#*# min_y = 40.0
#*# max_y = 334.93
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIjR9YkHojR0FIjbnHM3UZR0FIjlQ11nAPR0FIju6keWsFR0FIj4kTHGX7R0FIkCOBv2DxR0FIkL3wYlvmR0FIkVhfBVbcR0FIkfLNqFHSR0FIko08S0zIR0FIkyeq7ke+R0FIk8IZkUK0R0FIlFyIND2qR0FIlPb21zigR0FIlZFlejOWR0FIlivUHS6MR0FIlsZCwCmCR0FIl2CxYyR4R0FIl/sgBh9tR0FImJWOqRpjR0FImS/9TBVZR0FImcpr7xBPR0FImmTakgtFR0FImv9JNQY7R0FIm5m32AExR0FInDQmevwnR0FInM6VHfcdR0FInWkDwPITR0FIngNyY+0JR0FInp3hBuf+R0FInzhPqeL0R0FIn9K+TN3qR0FIoG0s79jgR0FIoQebktPWR0FIoaIKNc7MR0FIojx42MnCR0FIotbne8S4R0FIo3FWHr+uR0FIpAvEwbqkR0FIpKYzZLWaR0FIpUCiB7CQR0FIpdsQqquFR0FIpnV/TaZ7R0FIpw/t8KFxR0FIp6pck5xnR0FIqETLNpddR0FIqN852ZJTR0FIqXmofI1JR0FIqhQXH4g/R0FIqq6FwoM1R0FIq0j0ZX4rR0FIq+NjCHkhR0FIrH3Rq3QWR0FIrRhATm8MR0FIrbKu8WoCR0FIrk0dlGT4R0FIrueMN1/uR0FIr4H62lrkR0FIsBxpfVXaR0FIsLbYIFDQR0FIsVFGw0vGR0FIseu1Zka8R0FIsoYkCUGyR0FIsyCSrDyoR0FIs7sBTzedR0FItFVv8jKTR0FItO/elS2JR0FItYpNOCh/R0FItiS72yN1R0FItr8qfh5rR0FIt1mZIRlhR0FIt/QHxBRXR0FIuI52Zw9NR0FIuSjlCgpDR0FIucNTrQU5R0FIul3CUAAuR0FIuvgw8vskR0FIu5KflfYaR0FIvC0OOPEQR0FIvMd82+wGR0FIvWHrfub8R0FIvfxaIeHyR0FIvpbIxNzoR0FIvzE3Z9feR0FIv8umCtLUR0FIwGYUrc3KR0FIwQCDUMi/R0FIwZrx88O1R0FIwjVglr6rR0FIws/PObmhR0FIw2o93LSXR0FIxASsf6+NR0FIxJ8bIqqDR0FIxTmJxaV5R0FIxdP4aKBvR0FIxm5nC5tlR0FIxwjVrpZbR0FIx6NEUZFRR0FIyD2y9IxGR0FIyNghl4c8R0FIyXKQOoIyR0FIygz+3X0oR0FIyqdtgHgeR0FIy0HcI3MUR0FIy9xKxm4KR0FIzHa5aWkAR0FIzREoDGP2R0FIzauWr17sR0FIzkYFUlniR0FIzuBz9VTXR0FIz3rimE/NR0FI0BVRO0rDR0FI0K+/3kW5R0FI0UougUCvR0FI0eSdJDulR0FI0n8LxzabR0FI0xl6ajGRR0FI07PpDSyHR0FI1E5XsCd9R0FI1OjGUyJzR0FI1YM09h1pR0FI1h2jmRheR0FI1rgSPBNUR0FI11KA3w5KR0FI1+zvgglAR0FI2IdeJQQ2R0FI2SHMx/8sR0FI2bw7avoiR0FI2laqDfUYR0FI2vEYsPAOR0FI24uHU+sER0FI3CX19uX6R0FI3MBkmeDvR0FI3VrTPNvlR0FI3fVB39bbR0FI3o+wgtHRR0FI3yofJczHR0FI38SNyMe9R0FI4F78a8KzR0FI4PlrDr2pR0FI4ZPZsbifR0FI4i5IVLOVR0FI4si2966LR0FI42MlmqmBR0FI4/2UPaR2R0FI5JgC4J9sR0FI5TJxg5piR0FI5czgJpVYR0FI5mdOyZBOR0FI5wG9bItEZYwBaJRdlChHQC32KPXCj1pHQCsQng43ioxHQCjBfuyZHEVHQCcYpUG6fdtHQCWmMqXFLzBHQCS8kO6HdV9HQCN1mItIVOVHQCJ9qQ0VzGxHQCGuy8X7cFJHQCEKPvrDxo5HQCA3RFi/LWpHQB8LHpLRfH9HQB5Ff2zC+gVHQB0L2BgId0hHQBw3MypKRsBHQBsS2I8h+0VHQBpZFKZnBuhHQBlTeEITRhJHQBivqXXHDyJHQBgDwpjXiC1HQBdmOsVv9rNHQBax83pPP79HQBYeQ43a/DZHQBWYDKwqnBdHQBTtx//yngRHQBSIYzk8T2dHQBQHA7+8FSZHQBN499pQu8NHQBMG8VaaW/FHQBKny2RXf0xHQBIOezI+unpHQBGxB4bHOoxHQBFT1/OVc6ZHQBDxsbHyyKdHQBCLYLv9L/JHQBAtpLW/gaFHQA/J/Bau79JHQA8e42Epa+hHQA5ZqMru/MdHQA29ZiOKd5ZHQA0Okiikyn1HQAx0kTl7fyRHQAvpYLXHAvVHQAtlGvbwkZVHQArdpwm2Sl9HQApU/8UXf6JHQAnIXQ0oCitHQAlKt0VHQvRHQAjSRDyv6FZHQAhRtpoDrYxHQAfPYRSFPidHQAdcUpnvBTVHQAbstT1Sa6dHQAZuADdtb5hHQAYHuCZgJbVHQAWUmCFz8WFHQAUzq2z9GzJHQATKL8G/+5FHQARq8bKP9pxHQAQFSfq4H0JHQAOervQWJuRHQAMvRBPtqx9HQALNhTGvr2pHQAJq0mudknJHQAIQfzyN3pBHQAG6L2IEHIdHQAFtp/ByTc9HQAEWDLCYuzdHQADCdwPYReFHQABzWZTuwx5HQAAfcKK5i/ZHP/+iwTCEvpVHP/8Yd99SL61HP/510P4rGC1HP/3gHpYcUYpHP/1KISuAfp5HP/ygLWnn1+dHP/wB4l0qH75HP/t0Ixul9nxHP/rjt5bN4/ZHP/pKOBRpn6lHP/nhHFwZeHpHP/lOjlJvqu9HP/jO+WcLbgNHP/hTckJoMSRHP/fdf+Wc8hNHP/dOdUcBX2xHP/bZiYv5MepHP/Zh5m6ymK5HP/XioZhn8QxHP/Vag7y3cgFHP/ThVhMv+/FHP/RpOVOJqhlHP/P0KkdXubRHP/OEAkeVwc1HP/MXTcIedXZHP/KmYlUlwrhHP/Iv1DwwGspHP/G25IeELC1HP/E5OBfwwapHP/DQFipMebpHP/Bg5fZgblFHP+/qlw+Jf1dHP+8oOUpiNXBHP+5OiQ3IazRHP+2JY5uoB0NHP+zHKVEhScVHP+wKPRjvXUVHP+tC53PCUhZHP+qFeLM9JzxHP+nKNV9r3MxHP+kLb6OkNEpHP+hEokKxLfpHP+d6cgnLw/RHP+bDs1RZQulHP+YL7YWYbGxHP+VMvjd8T8NHP+Se6e8KZFVHP+Pi7m1zif9HP+MjTMwFav9HP+J/xuIg+b9HP+HNSe6hkSRHP+EtkUHsnL5HP+B8/t3GD3dHP9+nQGMem2lHP944e4QvLc5HP9zNEw4ScYdHP9tegn07HExHP9ohroGTXWlHP9i1IRWAmexHP9daVg9uHPNHP9YYzrDFNz5HP9Tsh0UVwvNHP9PRw8nKmhhHP9KyCq8Ea5VHP9F+THKrs1RHP9AW51pPpx5HP83oYkPCSBBHP8ttEsvQu6dHP8jvOMEBil1HP8aWvnhDW0RHP8RGdWd93w1HP8IJ34/sZ/hHP798sRfnP9NHP7tEUt5bv9hHP7a482qKQshHP7KeHbCC9YdHP6y46Dqy3INHP6UYwacEjARHP5ZR64UeuIBljAdoX3JhbmdllEc/llHrhR64gEdALfYo9cKPWoaUjAdmX3JhbmdllEdBSI0fWJB6I0dBSOcBvWyLRIaUjAJkY5RLEHUu
#*# calibrated_drive_currents = 16
#*# calibration_version = 3
