[include fluidd.cfg]

[include macros.cfg]

[include KAMP_Settings.cfg]

[include filament.cfg]

[include shell_command.cfg]

[include timelapse.cfg]

[exclude_object]

[force_move]
enable_force_move: true 

[gcode_arcs]                       
resolution: 1.0    

#[include moonraker_obico_macros.cfg]

#[include options/probe/stock.cfg]

#[include options/lcd/*.cfg]

[include options/probe/eddy-ng.cfg]

[include options/pico.cfg]

[include options/leds.cfg]

[include options/expander.cfg]

[include options/lcd/menu.cfg]

[include options/lcd/lcd.cfg]

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD505334E563619741751-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_52FF71064885875208231467-if00
restart_method: command      

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

#####################################################################
#--------------------------X AXIS-----------------------------------#
#####################################################################

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

#####################################################################
#--------------------------Y AXIS-----------------------------------#
#####################################################################

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 71 #70
diag_pin: PE13 

#####################################################################
#--------------------------Z AXIS-----------------------------------#
#####################################################################

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: True             
run_current: 0.50           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

#####################################################################

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: True             
run_current:  0.50          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

#####################################################################

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: True             
run_current: 0.50            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

#####################################################################

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: True            
run_current: 0.50         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

#####################################################################
#--------------------------EXTRUDER---------------------------------#
#####################################################################

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e
#sensor_type: Generic 3950
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.04
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150    

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

#####################################################################
#--------------------------BED--------------------------------------#
#####################################################################

#[thermistor my_thermistor]
#temperature1:25
#resistance1:100000
#temperature2:50
#resistance2:18085.4
#temperature3:100
#resistance3:5362.6

[heater_bed]
heater_pin:PA0
#sensor_type: my_thermistor  
sensor_type: Generic 3950
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

#[verify_heater heater_bed]      
#max_error: 120                
#check_gain_time:40           
#hysteresis: 5                
#heating_gain: 2      

#####################################################################
#--------------------------FANS AND TEMPS----------------------------
#####################################################################

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

#[temperature_sensor Host_temp]     
#sensor_type: temperature_host
#min_temp: 0
#max_temp: 110

#[temperature_sensor Toolhead_Temp]
#sensor_type: temperature_mcu
#sensor_mcu: extra_mcu
#min_temp:0
#max_temp:100

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[temperature_fan toolhead_fan]
pin: extra_mcu:PB0 
max_power: 1.0
shutdown_speed: 1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_mcu
sensor_mcu: extra_mcu
control: watermark
max_delta: 3.0
min_temp: 0
max_temp: 100
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.

[temperature_fan Host_fan]
pin: PA1     
sensor_type: temperature_host
min_temp: 0
max_temp: 110
kick_start_time: 0.5
shutdown_speed: 1.0
control: watermark
max_delta: 3.0

#####################################################################
#--------------------------MCU PINS AND EXP-------------------------#
#####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,
 
    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>         

[output_pin main_led]
pin:PA3
pwm: 1
value:1
cycle_time: 0.010

[adxl345]
cs_pin:extra_mcu:PB12
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
#accel_per_hz:50
min_freq:1
#max_freq:100
#max_smoothing:0.2
#hz_per_sec:0.5

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 58.2
shaper_type_y = mzv
shaper_freq_y = 42.0

[firmware_retraction]
retract_length: 0.6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 60
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.094
#*# pid_ki = 1.684
#*# pid_kd = 501.065
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.558
#*# pid_ki = 3.704
#*# pid_kd = 44.088
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.148219, 0.131829, 0.118235, 0.114561, 0.104371, 0.088307, 0.087773, 0.098320, 0.106490, 0.141403
#*# 	0.129226, 0.118756, 0.103449, 0.085055, 0.079893, 0.074798, 0.069845, 0.080881, 0.107444, 0.119305
#*# 	0.148577, 0.142821, 0.134297, 0.104371, 0.085087, 0.079183, 0.079894, 0.087530, 0.105326, 0.120674
#*# 	0.131694, 0.123469, 0.110917, 0.083890, 0.076885, 0.070835, 0.070801, 0.080848, 0.108787, 0.124704
#*# 	0.165650, 0.158237, 0.138627, 0.127115, 0.114753, 0.112315, 0.117030, 0.140410, 0.148413, 0.190214
#*# 	0.136737, 0.136380, 0.118562, 0.099631, 0.097997, 0.100764, 0.103060, 0.113876, 0.137676, 0.155975
#*# 	0.187200, 0.172615, 0.146301, 0.138408, 0.124868, 0.116480, 0.121030, 0.138819, 0.156958, 0.185712
#*# 	0.128898, 0.127278, 0.113997, 0.106010, 0.106668, 0.098531, 0.100439, 0.117714, 0.136515, 0.146138
#*# 	0.117000, 0.109876, 0.095311, 0.082369, 0.084488, 0.076674, 0.086009, 0.107056, 0.128349, 0.136871
#*# 	0.140188, 0.084845, 0.070835, 0.072145, 0.079360, 0.080492, 0.071401, 0.074831, 0.100973, 0.118042
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 330.0
#*# min_y = 15.0
#*# max_y = 334.95000000000005
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIi5wTMzMxR0FIjDkpgW+yR0FIjNY/z6w0R0FIjXNWHei1R0FIjhBsbCU3R0FIjq2CumG4R0FIj0qZCJ45R0FIj+evVtq7R0FIkITFpRc8R0FIkSHb81O9R0FIkb7yQZA/R0FIklwIj8zAR0FIkvke3glCR0FIk5Y1LEXDR0FIlDNLeoJER0FIlNBhyL7GR0FIlW14FvtHR0FIlgqOZTfJR0FIlqeks3RKR0FIl0S7AbDLR0FIl+HRT+1NR0FImH7nninOR0FImRv97GZPR0FImbkUOqLRR0FImlYqiN9SR0FImvNA1xvUR0FIm5BXJVhVR0FInC1tc5TWR0FInMqDwdFYR0FInWeaEA3ZR0FIngSwXkpaR0FInqHGrIbcR0FInz7c+sNdR0FIn9vzSP/fR0FIoHkJlzxgR0FIoRYf5XjhR0FIobM2M7VjR0FIolBMgfHkR0FIou1i0C5mR0FIo4p5HmrnR0FIpCePbKdoR0FIpMSluuPqR0FIpWG8CSBrR0FIpf7SV1zsR0FIppvopZluR0FIpzj+89XvR0FIp9YVQhJxR0FIqHMrkE7yR0FIqRBB3otzR0FIqa1YLMf1R0FIqkpuewR2R0FIqueEyUD4R0FIq4SbF315R0FIrCGxZbn6R0FIrL7Hs/Z8R0FIrVveAjL9R0FIrfj0UG9+R0FIrpYKnqwAR0FIrzMg7OiBR0FIr9A3OyUDR0FIsG1NiWGER0FIsQpj154FR0FIsad6JdqHR0FIskSQdBcIR0FIsuGmwlOJR0FIs369EJALR0FItBvTXsyMR0FItLjprQkOR0FItVX/+0WPR0FItfMWSYIQR0FItpAsl76SR0FIty1C5fsTR0FIt8pZNDeVR0FIuGdvgnQWR0FIuQSF0LCXR0FIuaGcHu0ZR0FIuj6ybSmaR0FIutvIu2YbR0FIu3jfCaKdR0FIvBX1V98eR0FIvLMLphugR0FIvVAh9FghR0FIve04QpSiR0FIvopOkNEkR0FIvydk3w2lR0FIv8R7LUonR0FIwGGRe4aoR0FIwP6nycMpR0FIwZu+F/+rR0FIwjjUZjwsR0FIwtXqtHitR0FIw3MBArUvR0FIxBAXUPGwR0FIxK0tny4yR0FIxUpD7WqzR0FIxedaO6c0R0FIxoRwieO2R0FIxyGG2CA3R0FIx76dJly4R0FIyFuzdJk6R0FIyPjJwtW7R0FIyZXgERI9R0FIyjL2X06+R0FIytAMrYs/R0FIy20i+8fBR0FIzAo5SgRCR0FIzKdPmEDER0FIzURl5n1FR0FIzeF8NLnGR0FIzn6SgvZIR0FIzxuo0TLJR0FIz7i/H29KR0FI0FXVbavMR0FI0PLru+hNR0FI0ZACCiTPR0FI0i0YWGFQR0FI0soupp3RR0FI02dE9NpTR0FI1ARbQxbUR0FI1KFxkVNWR0FI1T6H34/XR0FI1dueLcxYR0FI1ni0fAjaR0FI1xXKykVbR0FI17LhGIHcR0FI2E/3Zr5eR0FI2O0NtPrfR0FI2YokAzdhR0FI2ic6UXPiR0FI2sRQn7BjR0FI22Fm7ezlR0FI2/59PClmR0FI3JuTimXoR0FI3Tip2KJpR0FI3dXAJt7qR0FI3nLWdRtsR0FI3w/sw1ftR0FI360DEZRuR0FI4EoZX9DwR0FI4Ocvrg1xR0FI4YRF/EnzR0FI4iFcSoZ0R0FI4r5ymML1R0FI41uI5v93R0FI4/ifNTv4R0FI5JW1g3h5R0FI5TLL0bT7R0FI5c/iH/F8R0FI5mz4bi3+R0FI5woOvGp/ZYwBaJRdlChHQC33euFHrhNHQCsq7Lc+43VHQCkzLX7A2qpHQCc89crJB0JHQCXZ6H7Dv9lHQCS+cpaivLFHQCNu5E6Z+XVHQCJzvSyBaGZHQCGT7kzoQupHQCDk2C3CzuFHQCA0ZhY3CFtHQB9byhCs/2pHQB37qRTTk+JHQB0C/gJFwr1HQBwOMGaymTxHQBsyV6LrYuZHQBpHeIOS7SNHQBlwbmrAVZNHQBihV6RgebFHQBgB4p3pOY5HQBdlXaHNsSZHQBaLHbVeaytHQBYS3zorbBBHQBWmy7i0iAdHQBT0GZMjGStHQBRoC8Ayvs5HQBPCLIJRVIhHQBNbKfJP0yRHQBLdADx7AiBHQBJ9mPvHreVHQBIe02wrxflHQBG7O2aWpnFHQBFEjtK7IctHQBDoBE0ydklHQBCFKhy7OOZHQBAYQWCN5JhHQA+UBnPP3h9HQA7qAs4I0UhHQA42EO//GrhHQA2P5Iz1ULdHQAz7wVrrc3BHQAxxS7UL4YxHQAveBbnsdPdHQAtF9bk2TDRHQArAio7BjahHQAoteyFGdUZHQAmj85lCIgFHQAkkFi27AFhHQAilOXMyVhhHQAg4xoxqGupHQAe1oLQSVkNHQAc+DmHprUNHQAbLluieSihHQAZkDmFJv3VHQAXq9e8RMGhHQAWEEYZqzIBHQAUTJtvMhXZHQAS6dgXDmhdHQAROVvWliwBHQAPm/+RR54NHQAN0zU6+709HQAMZQmBsSdZHQALBb44ChHRHQAJrj9I/G6VHQAIWaXKneoFHQAG8mUXdjhtHQAFkjlH9+aBHQAEMz7mINc1HQAC27g52hXJHQABhVicYwEFHQAANvtp2OPRHP/9+bNx6icJHP/7laIp8rudHP/5MJCAxHCRHP/2y1ijFdC1HP/0eMbrWFjhHP/x+1bfWrRdHP/vwYhVLIzRHP/tfy7GRlZ1HP/rLKk0FwgpHP/pP2DV12zFHP/m/B3cLPstHP/k9aP0wzDNHP/i4PlKXDdZHP/gsGUWUaG9HP/ewBEiCMt9HP/c7AnCso5NHP/aopaZy1xJHP/Yrfvr5GaVHP/WuRhOUkVxHP/UmoMaNzZlHP/SzMImcfzJHP/RAQuu3l9BHP/PUkHfykdFHP/Nl9pXF0fNHP/L5nN9qP69HP/KHv9jFQxdHP/IYJs6GYcRHP/Gg+D5ecCBHP/EtuGrUNCxHP/C6B8xMUPNHP/BJE8YCaNRHP+/MZhiM2ZtHP+77V+tALPpHP+5CZiK8MP5HP+12hFZsHIxHP+yobPsNBrFHP+vezjy7x7VHP+sH4cVbavlHP+pC9v0dm2xHP+l0h7sv4f1HP+ixLvNsblFHP+gCmjsJ1ilHP+dPtFD600tHP+aejDJd2WhHP+XRG0DaNOVHP+UhUrhbgnFHP+Rriw6Oas1HP+O4fk3Rv2RHP+L/1FKAvD5HP+JLwdRDd9lHP+GmDNgmKmFHP+EK+eYWCHFHP+BkRRJFfDZHP9+JkCX82qVHP95MkkZnvKhHP9z6io7cCoZHP9u4r3oCNvNHP9p5fV9nKYxHP9kYYRwpUehHP9fEW8RMGapHP9Z8BYN7UtJHP9U3O93N/m1HP9P9lxhgcpBHP9LRXFFBfdVHP9GQeuGwuZFHP9BwPAv+GoFHP85oRypNMHlHP8wfzhkxkHpHP8moDbouRZlHP8cyaucD0+VHP8TA6cIPx+1HP8JKz3kCV6ZHP8AlcrUE1HxHP7tBPRnQJjtHP7cHFTlwjM9HP7JAClWJQwpHP6wMn3Jt5X5HP6P6McafFkdHP5dHrhR64UZljAdoX3JhbmdllEc/l0euFHrhRkdALfd64UeuE4aUjAdmX3JhbmdllEdBSIucEzMzMUdBSOcKDrxqf4aUjAJkY5RLEHUu
#*# calibrated_drive_currents = 16
#*# calibration_version = 3
