[include fluidd.cfg]

[include macros.cfg]

[include KAMP_Settings.cfg]

[include filament.cfg]

[include shell_command.cfg]

[include timelapse.cfg]

[exclude_object]

[force_move]
enable_force_move: true 

[gcode_arcs]                       
resolution: 1.0    

#[include moonraker_obico_macros.cfg]

#[include options/probe/stock.cfg]

#[include options/lcd/*.cfg]

[include filament/*.cfg]

[include options/probe/eddy-ng.cfg]

[include options/pico.cfg]

[include options/leds.cfg]

[include options/expander.cfg]

[include options/lcd/menu.cfg]

[include options/lcd/lcd.cfg]

#####################################################################
#--------------------------PRINTER----------------------------------#
#####################################################################

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD505334E563619741751-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_52FF71064885875208231467-if00
restart_method: command      

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

#####################################################################
#--------------------------X AXIS-----------------------------------#
#####################################################################

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

#####################################################################
#--------------------------Y AXIS-----------------------------------#
#####################################################################

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 71 #70
diag_pin: PE13 

#####################################################################
#--------------------------Z AXIS-----------------------------------#
#####################################################################

######################-Front left Z motor-###########################

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: True             
run_current: 0.50           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

######################-Back left Z motor-############################

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: True             
run_current:  0.50          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

######################-Back Right Z motor-###########################

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: True             
run_current: 0.50            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

######################-Front Right Z motor-##########################

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: True            
run_current: 0.50         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

#####################################################################
#--------------------------EXTRUDER---------------------------------#
#####################################################################

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e
#sensor_type: Generic 3950
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.04
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150    

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

# [filament_switch_sensor filament_sensor]
# pause_on_runout: True
# event_delay: 3.0
# pause_delay: 0.5
# switch_pin: PE9

#####################################################################
#--------------------------BED--------------------------------------#
#####################################################################

#[thermistor my_thermistor]
#temperature1:25
#resistance1:100000
#temperature2:50
#resistance2:18085.4
#temperature3:100
#resistance3:5362.6

[heater_bed]
heater_pin:PA0
#sensor_type: my_thermistor  
sensor_type: Generic 3950
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

#[verify_heater heater_bed]      
#max_error: 120                
#check_gain_time:40           
#hysteresis: 5                
#heating_gain: 2      

#####################################################################
#--------------------------FANS AND TEMPS---------------------------#
#####################################################################

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

#[temperature_sensor Host_temp]     
#sensor_type: temperature_host
#min_temp: 0
#max_temp: 110

#[temperature_sensor Toolhead_Temp]
#sensor_type: temperature_mcu
#sensor_mcu: extra_mcu
#min_temp:0
#max_temp:100

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[temperature_fan toolhead_fan]
pin: extra_mcu:PB0 
max_power: 1.0
shutdown_speed: 1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_mcu
sensor_mcu: extra_mcu
control: watermark
max_delta: 3.0
min_temp: 0
max_temp: 100
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.

[temperature_fan Host_fan]
pin: PA1     
sensor_type: temperature_host
min_temp: 0
max_temp: 110
kick_start_time: 0.5
shutdown_speed: 1.0
control: watermark
max_delta: 3.0

#####################################################################
#--------------------------MCU PINS AND EXP-------------------------#
#####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,
 
    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>         

[output_pin main_led]
pin:PA3
pwm: 1
value:1
cycle_time: 0.010

[adxl345]
cs_pin:extra_mcu:PB12
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
#accel_per_hz:50
min_freq:1
#max_freq:100
#max_smoothing:0.2
#hz_per_sec:0.5

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 58.2
shaper_type_y = mzv
shaper_freq_y = 42.0

[firmware_retraction]
retract_length: 0.6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 60
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.094
#*# pid_ki = 1.684
#*# pid_kd = 501.065
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.558
#*# pid_ki = 3.704
#*# pid_kd = 44.088
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.005283, 0.012464, 0.017233, 0.004191, -0.016024, -0.016024, -0.013781, 0.009273, 0.017310, -0.026772
#*# 	  -0.005284, 0.007708, 0.017233, -0.025207, -0.032147, -0.032147, -0.008410, -0.009092, 0.007708, -0.029016
#*# 	  0.028546, 0.024982, 0.032646, 0.013938, -0.019833, -0.018268, -0.007527, 0.007708, 0.029187, -0.010654
#*# 	  0.016564, 0.032646, 0.014834, -0.010657, -0.010657, -0.012219, 0.006143, 0.029187, 0.041060, 0.046999
#*# 	  0.030917, 0.039327, 0.027457, 0.012464, 0.004578, 0.007708, 0.027457, 0.083211, 0.068729, 0.051204
#*# 	  0.046253, 0.030917, 0.007708, 0.015668, -0.003040, 0.003900, 0.037597, 0.061613, 0.063078, 0.054671
#*# 	  0.040315, 0.070922, 0.034376, 0.034376, 0.038585, 0.017310, 0.032646, 0.077907, 0.097492, 0.051204
#*# 	  0.016673, 0.034376, 0.010839, 0.007708, 0.023518, 0.010839, 0.027457, 0.046999, 0.095511, 0.044524
#*# 	  -0.001475, 0.010839, -0.003040, -0.007527, -0.004605, -0.007527, 0.000091, 0.029187, 0.054671, -0.003040
#*# 	  0.000091, -0.047833, -0.063980, -0.022964, -0.030807, -0.028456, -0.010657, -0.030581, -0.013781, 0.001716
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 344.99
#*# min_y = 40.0
#*# max_y = 334.93
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIi4DBwo9cR0FIjCBzFIx5R0FIjMAkZomWR0FIjV/VuIazR0FIjf+HCoPQR0FIjp84XIDtR0FIjz7prn4KR0FIj96bAHsoR0FIkH5MUnhFR0FIkR39pHViR0FIkb2u9nJ/R0FIkl1gSG+cR0FIkv0Rmmy5R0FIk5zC7GnWR0FIlDx0PmbzR0FIlNwlkGQQR0FIlXvW4mEtR0FIlhuINF5KR0FIlrs5hltnR0FIl1rq2FiER0FIl/qcKlWhR0FImJpNfFK/R0FImTn+zk/cR0FImdmwIEz5R0FImnlhckoWR0FImxkSxEczR0FIm7jEFkRQR0FInFh1aEFtR0FInPgmuj6KR0FInZfYDDunR0FInjeJXjjER0FIntc6sDXhR0FIn3bsAjL+R0FIoBadVDAbR0FIoLZOpi05R0FIoVX/+CpWR0FIofWxSidzR0FIopVinCSQR0FIozUT7iGtR0FIo9TFQB7KR0FIpHR2khvnR0FIpRQn5BkER0FIpbPZNhYhR0FIplOKiBM+R0FIpvM72hBbR0FIp5LtLA14R0FIqDKefgqVR0FIqNJP0AeyR0FIqXIBIgTQR0FIqhGydAHtR0FIqrFjxf8KR0FIq1EVF/wnR0FIq/DGaflER0FIrJB3u/ZhR0FIrTApDfN+R0FIrc/aX/CbR0FIrm+Lse24R0FIrw89A+rVR0FIr67uVefyR0FIsE6fp+UPR0FIsO5Q+eIsR0FIsY4CS99KR0FIsi2zndxnR0FIss1k79mER0FIs20WQdahR0FItAzHk9O+R0FItKx45dDbR0FItUwqN834R0FItevbicsVR0FItouM28gyR0FItys+LcVPR0FIt8rvf8JsR0FIuGqg0b+JR0FIuQpSI7ymR0FIuaoDdbnDR0FIukm0x7bhR0FIuulmGbP+R0FIu4kXa7EbR0FIvCjIva44R0FIvMh6D6tVR0FIvWgrYahyR0FIvgfcs6WPR0FIvqeOBaKsR0FIv0c/V5/JR0FIv+bwqZzmR0FIwIah+5oDR0FIwSZTTZcgR0FIwcYEn5Q9R0FIwmW18ZFaR0FIwwVnQ454R0FIw6UYlYuVR0FIxETJ54iyR0FIxOR7OYXPR0FIxYQsi4LsR0FIxiPd3YAJR0FIxsOPL30mR0FIx2NAgXpDR0FIyALx03dgR0FIyKKjJXR9R0FIyUJUd3GaR0FIyeIFyW63R0FIyoG3G2vUR0FIyyFobWjyR0FIy8EZv2YPR0FIzGDLEWMsR0FIzQB8Y2BJR0FIzaAttV1mR0FIzj/fB1qDR0FIzt+QWVegR0FIz39Bq1S9R0FI0B7y/VHaR0FI0L6kT073R0FI0V5VoUwUR0FI0f4G80kxR0FI0p24RUZOR0FI0z1pl0NsR0FI090a6UCJR0FI1HzMOz2mR0FI1Rx9jTrDR0FI1bwu3zfgR0FI1lvgMTT9R0FI1vuRgzIaR0FI15tC1S83R0FI2Dr0JyxUR0FI2NqleSlxR0FI2XpWyyaOR0FI2hoIHSOrR0FI2rm5byDIR0FI21lqwR3lR0FI2/kcExsDR0FI3JjNZRggR0FI3Th+txU9R0FI3dgwCRJaR0FI3nfhWw93R0FI3xeSrQyUR0FI37dD/wmxR0FI4Fb1UQbOR0FI4PamowPrR0FI4ZZX9QEIR0FI4jYJRv4lR0FI4tW6mPtCR0FI43Vr6vhfR0FI5BUdPPV8R0FI5LTOjvKaR0FI5VR/4O+3R0FI5fQxMuzUR0FI5pPihOnxR0FI5zOT1ucOR0FI59NFKOQrR0FI6HL2euFIZYwBaJRdlChHQC31FHrhR61HQCspOF/GbYFHQCjd+t/UIM1HQCdSA0tAT2FHQCW+o4voL/5HQCSEINNQCIhHQCNgLZrPY4tHQCKLjH0EbMFHQCGjA2vpwcxHQCDNg21rlCNHQCAlxn0LWUhHQB9BEfj3culHQB3/y1ChrUJHQBzG3bZheAZHQBvlp4vHtQhHQBrcZKwzCdtHQBo7dhZAkohHQBltLMMy6SpHQBid4nIaW21HQBfwqVzwuk9HQBclEAbmC3pHQBaX2b3VO0JHQBXeu/o7PfFHQBVZghikYelHQBTEnYwvvZtHQBRUoV08MxdHQBPAMVIfMxBHQBNL1HeoQcBHQBLAfJnY3ZpHQBJogfvheABHQBH4TE4i6sFHQBGNswuFj2pHQBEqjjVVZVZHQBDJTsm69HtHQBBrpz7Nt2hHQBANFF+ELm5HQA92KMTbe/pHQA7Gd+TMhudHQA4ZN/41FbJHQA14BIyEXt1HQAzXrVD2m/FHQAxBsPQIoyxHQAu0CQz9k4FHQAsZ7LT8S5NHQAp9qAruh9BHQAn8cJYgcA9HQAl6xBa+htlHQAju9lhFr5hHQAhe6AlWEOxHQAfjkQMDRn5HQAd6zWwtZaJHQAcTOzmydE9HQAaafruTagtHQAYmeL4c85BHQAW9XWd/rrZHQAVViWWTZNtHQATkFzLUMSlHQASARtz6Vj5HQAQW8qOIY5ZHQAOwuChpMg9HQANLBQwUn0NHQALxKziloXNHQAKZOtymzcdHQAI1fH+w3jVHQAHfZacP+apHQAGHnWYoczRHQAEsxV9fP2xHQADehMqKagJHQACPxiw7VGRHQAA/VZT9Z2VHP//nepDTJJBHP/9KHwEohiJHP/6dctl+d4JHP/4A+Wl7CG5HP/1quqKWdYxHP/zSMkEXpTNHP/xGf5QYC9dHP/uwA/UXladHP/sjtOxMbnBHP/qaOrN1D5hHP/oMdSHfi7tHP/l/OlKI7ctHP/j38A7dBVRHP/hpNsaigEJHP/fk10MEC6BHP/dp9MUtOZpHP/bwJHAPPplHP/aBLHzEAR9HP/YJGUt41YVHP/WLdbfLbdxHP/ULBy07vQNHP/SJm887SsRHP/QEJpFyDGlHP/ODocJoRURHP/MMu65+Z25HP/KiP3X4JZhHP/Ixs8LnoLFHP/HBLigKCBtHP/FVibWurPFHP/DyZMZ2QN9HP/B+qu6qp5dHP/ABYWBNY41HP+8vavIdfP1HP+5UnJo/Lx5HP+2ICYxknHVHP+y51H54p7FHP+wG3uJ6zbtHP+tBbViiTr5HP+qAzuFz7NdHP+m/tZMkrwNHP+jtxc+3l6tHP+gmzKJTIrtHP+d1XQqW4RdHP+awYjLL56RHP+YErigetidHP+VEcEK4dihHP+R/RsxYqsxHP+PRPsxZHvNHP+Mf75lDaIZHP+JdvZmp3lhHP+G6ltXlzXRHP+D+E4r5vBRHP+BgEhYve/JHP9+Qf8LCPVpHP95JeIadsy5HP9zzX+F/Ja5HP9u5c0kjLupHP9qPaZOKmdBHP9lC1c0SOK9HP9gP1DIHQxFHP9bZ5YlqmmdHP9WbnO99S0dHP9RmWIwfwYFHP9NAXtzTBr1HP9IkaDGmpD1HP9Dp58nTm/pHP897gNMgGmVHP80t/GgC69xHP8q4kPlNkm5HP8hHwfYt02VHP8X5sA98TpBHP8OK1k+fAGBHP8E1QFiexedHP73jCHsyoo1HP7lo5MCdWzRHP7TuzvbyqahHP7C3KBgV4B5HP6ndDC/Ouu9HP6HSHziJ0tlHP5MzMzMzMzJljAdoX3JhbmdllEc/kzMzMzMzMkdALfUUeuFHrYaUjAdmX3JhbmdllEdBSIuAwcKPXEdBSOhy9nrhSIaUjAJkY5RLEHUu
#*# calibrated_drive_currents = 16
#*# calibration_version = 3
